
// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px 0;
}

h2 {
  margin: 10px 0;
}

.field, .button {
  margin-bottom: 10px;
}

label {
  display: block;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

th {
  padding-bottom: 5px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.flash-m {
  color: green;
}